DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiODA1ZjVkNTQtNDE2MS00YzE5LWFmZGYtMTRiNmQyODExMzVkIiwidGVuYW50X2lkIjoiN2YxOTBjZjZkZGEzYzcwZmMyMjg2YTYzYWVkMTI5NzQxZmU0N2QxZDE4NzliNGQ1NGQxNTIyYTU3NmZkOWU1NSIsImludGVybmFsX3NlY3JldCI6IjZmOTJhYmViLWI3ZTUtNGUxNC05Yjg4LWRkN2QyNzQ4NWQ4MiJ9.zT00waUGV7u-udnyKfAraM0CziNVbfZH4UPtHYGlLI4"
PULSE_API_KEY=""
